.footer{
    background-color:rgb(5, 5, 5);
    padding-top: 30px;
    height: 450px;
    margin-top:160px;
    position:absolute;
    width: 100%;    
    left:0;
    border-top: 1px solid rgb(22, 22, 22);
}
.left-footer{
    display: inline-block;
    width:300px;
}
footer p{
    color:rgb(109, 109, 109);
    font-size:14px;
}
.icons-button{
    border-radius:10px;
    text-decoration: none;
    
}
.icons-button:hover{
    cursor:pointer;
}
.icons{
    height:20px;
}
.contacts{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 20px;
}
.contacts-section{
    display: inline-block;
    width:200px;
}
.address{
    width:220px;
}
.footer-flex{
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    width: 1200px;
    margin:auto;
    justify-content: space-between;
    
}
.copyright{
    margin-top: 100px;
    margin-left: 30px;
    letter-spacing: 2px;
}