.logo{
    object-fit: cover;
    height:50px;
    border-radius: 25px;
    margin-left: 25px;

}
.footer-logo{
    object-fit: cover;
    height:170px;
    border-radius: 90px;
    margin-left: 15px;
    margin-top: 10px;
}


